{% extends 'base.html' %}
{% include 'header.html' %}


{% block title %}{% endblock %}


{% block body %}

    <div class="container-md">
        <form>
            <h2>
                <label id="id_ques" class="form-check-label">{{ id_question }}</label>
                <label class="form-check-label">{{ question_title }}</label>
            </h2>

            <div class="form-group">
                <button id="b1" type="button" class="btn btn-primary btn-block">{{ option1 }}</button>
            </div>

            <div class="form-group">
                <button id="b2" type="button" class="btn btn-primary btn-block">{{ option2 }}</button>
            </div>

            <div class="form-group">
                <button id="b3" type="button" class="btn btn-primary btn-block">{{ option3 }}</button>
            </div>

            <script type="text/javascript">
                var question_id = $('#id_ques').text();

                var socket = io('localhost:8080', {query: {room_id: question_id}});

                socket.on('connect', function () {
                    socket.emit('my event', question_id);
                });

                $('#b1').on('click', function () {
                    socket.emit('vote', 0);
                });

                $('#b2').on('click', function () {
                    socket.emit('vote', 1);
                });

                $('#b3').on('click', function () {
                    socket.emit('vote', 2);
                });

                socket.on('vote results', function (results) {
                    var total_votes = results.result1 + results.result2 + results.result3;

                    var votes1 = Math.round((results.result1 * 100) / total_votes);
                    var votes2 = Math.round((results.result2 * 100) / total_votes);
                    var votes3 = 100 - votes1 - votes2;

                    $('#votes1').css('width', votes1 + '%');
                    $('#votes2').css('width', votes2 + '%');
                    $('#votes3').css('width', votes3 + '%');
                })

            </script>
            {#TODO: Wyrownac napisy przy progress barach#}
            <div class="container">
                <form>
                    <div class="form-group">
                        <div class="progress">
                            <label>{{ option1 }}</label>
                            <div id="votes1" class="progress-bar progress-bar-success"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="progress">
                            <label class="form-check-label">{{ option2 }}</label>
                            <div id="votes2" class="progress-bar progress-bar-success"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="progress">
                            <label class="form-check-label">{{ option3 }}</label>
                            <div id="votes3" class="progress-bar progress-bar-success"></div>
                        </div>
                    </div>

                </form>
            </div>

        </form>
    </div>


{% endblock %}