{% extends 'base.html' %}
{% include 'header.html' %}


{% block title %}{% endblock %}


{% block body %}

    <div class="container-md">
        <form>
            <h2>
                <label id="id_ques" class="form-check-label">{{ id_question }}</label>
                <label class="form-check-label">{{ question_title }}</label>
            </h2>

            <div class="form-group">
                <button id="b1" type="button" class="btn btn-primary btn-block">{{ option1 }}</button>
            </div>

            <div class="form-group">
                <button id="b2" type="button" class="btn btn-primary btn-block">{{ option2 }}</button>
            </div>

            <div class="form-group">
                <button id="b3" type="button" class="btn btn-primary btn-block">{{ option3 }}</button>
            </div>

            <script type="text/javascript">
                var question_id = $('#id_ques').text();

                var socket = io('localhost:8080', {query: { room_id: question_id }});

                socket.on('connect', function () {
                    socket.emit('my event', question_id);
                });

                $('#b1').on('click', function () {
                    socket.emit('vote', 0);
                });

                $('#b2').on('click', function () {
                    socket.emit('vote', 1);
                });

                $('#b3').on('click', function () {
                    socket.emit('vote', 2);
                });

            </script>

            <div class="form-group">
                <p class="text-center">{{ v1 }}</p>
            </div>
            <div class="form-group">
                <p class="text-center">{{ v2 }}</p>
            </div>
            <div class="form-group">
                <p class="text-center">{{ v3 }}</p>
            </div>

        </form>
    </div>


{% endblock %}